:host {
  display: block;
}

input[type=radio] {
  appearance: none;
  display: block;
  width: 0;
}

label {
  display: block;
  padding: .5em 1.2em;

  background-color: transparent;
  color: var(--hs-color-foundation-type-dark);
  font-family: var(--hs-typography-size-10-font-family);
  font-weight: var(--hs-typography-size-20-font-weight);

  cursor: pointer;
  border-top: 2px solid transparent;
}

label:hover,
label.selected {
  border-top: 2px solid var(--hs-color-foundation-primary-red-dark);
  color: var(--hs-color-foundation-primary-red-dark)
}