div.small {
  width: 30vh;
  height: 40vh;
  border-radius: 5px;
}

div.small img {
  width: 100%;
}

div.medium {
  width: 50vh;
  height: 40vh;
  position: relative;
  color: var(--hs-color-foundation-background-dark-background-light-light);
}

div.medium .card-container {
 width: 50%;
 background-color: var(--hs-color-foundation-primary-red-normal-active);
 position: absolute;
 left: 0;
 bottom: 0;
 padding: 2% 9%;
}

