.callout {
  max-width: 320px;
  max-height: 88px;
  padding: 20px 40px;
  margin: 10px;

  border-radius: 4px;
}

.info {
  background-color: var(--hs-color-foundation-info-normal);
  color: var(--hs-color-foundation-type-light);
}

.warning {
  background-color: var(--hs-color-foundation-warning-normal);
  color: var(--hs-color-foundation-type-light);
}

.success {
  background-color: var(--hs-color-foundation-success-light);
  color: var(--hs-color-foundation-success-normal);
}

img {
  width: 20px;
  margin: 0 0.5rem;
}